*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  min-height: 2220px
}
:root{
  --primary-color:rgb(40, 39, 39);
  --secondary-color:aliceblue;
  --hover-color:rgb(13, 176, 138);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
  background-color:var(--primary-color);
  position: fixed;
  width: 100%;  
  z-index: 999;
}
.logo > img{
  border-radius: 50%;
}
nav a{
  text-decoration: none;
  font-size: 20px;
}
.link-container {
  display: flex;
  gap: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:var(--secondary-color);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--hover-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-section{
    display: flex;
    position: relative; 
    overflow: hidden;
  }


.hero-section img {
  min-width: 100%;
  max-height: 700px;
} 

.input-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-indent: 50px;
}

.input-container i {
    left: 16px;
    position: absolute;
    top: 10px;
    color: rgb(108, 110, 111);
}
