*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  /* min-height: 2220px */
}
:root{
  --primary-color:rgb(40, 39, 39);
  --secondary-color:aliceblue;
  --hover-color:rgb(13, 176, 138);
  --btn-color:#6f767a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
  background-color:var(--primary-color);
  position: sticky;
  width: 100%;  
  z-index: 999;
  top: 0;
  margin-bottom: 70px;
}
.logo > img{
  border-radius: 50%;
}
nav a{
  text-decoration: none;
  font-size: 20px;
}
.link-container {
  display: flex;
  gap: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:var(--secondary-color);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--hover-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-section{
    display: flex;
    position: relative; 
    overflow: hidden;
  }


.hero-section img {
  min-width: 100%;
  max-height: 700px;
} 

footer {
  display: flex;
  color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0px 40px;
  height: 80px
}

.contact-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form button{
  background: var(--btn-color);
  color: var(--secondary-color);
  border-style: outset;
  border-color: var(--btn-color);
  height: 40px;
  width: 90px;
  border-radius: 5px;
  text-shadow: none;
  margin-left: 10px;
  
}

.contact-form label{
  margin-right: 5px;
}

.contact-form input{
  text-indent: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;

}

/* .post-blog{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */

.post-blog form{
  gap: 20px;
}

.blog-details{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.post-btn{
  background: var(--btn-color);
  color: var(--secondary-color);
  cursor: pointer;
  height: 50px;
  width: 110px;
  border: none;
  border-radius: 5px;
  text-shadow: none;
  margin-left: 10px;
  box-shadow: 0px 0px 11px 2px var(--btn-color);

}

textarea,.blog-details input,#editor{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#editor{
  min-height: 400px;

}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.bold{
  font-weight: bold;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}


/*  */


.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}
select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}
.options label,
.options select {
  font-family: "Poppins", sans-serif;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
/* #text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
} */
.active {
  background-color: #e0e9ff;
}